C#NOTES.MD
INSTRUCTIONS.MD
Controllers/WeatherForecastController.cs
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/global.json
bin/Debug/net5.0/Inventory.deps.json
bin/Debug/net5.0/Inventory.dll
bin/Debug/net5.0/Inventory.exe
bin/Debug/net5.0/Inventory.pdb
bin/Debug/net5.0/Inventory.runtimeconfig.dev.json
bin/Debug/net5.0/Inventory.runtimeconfig.json
bin/Debug/net5.0/Microsoft.OpenApi.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net5.0/publish/appsettings.Development.json
bin/Debug/net5.0/publish/appsettings.json
bin/Debug/net5.0/publish/global.json
bin/Debug/net5.0/publish/Inventory.deps.json
bin/Debug/net5.0/publish/Inventory.dll
bin/Debug/net5.0/publish/Inventory.exe
bin/Debug/net5.0/publish/Inventory.pdb
bin/Debug/net5.0/publish/Inventory.runtimeconfig.json
bin/Debug/net5.0/publish/Microsoft.OpenApi.dll
bin/Debug/net5.0/publish/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net5.0/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net5.0/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net5.0/publish/web.config
bin/Debug/net5.0/ref/Inventory.dll
